header {
    color: Black;
    font-family: 'Caveat' cursive;
    font-style: bold;
    font-size: 70px;
}
p {   
    color: white;
    font-family: 'Caveat', cursive;
    font-size: 25px;
    background-color: saddlebrown;
    border-style: dotted dashed solid;
}


