header {
    color: Black;
    font-family: 'Caveat' cursive;
    font-style: bold;
    font-size: 50px;
}
h1 {
    color: black;
    font-size: 40px;
}
h2 {
    color: black;
    font-size: 40px;
}
h3 {
    color: black;
    font-size: 40px;
}
p {   
    color: white;
    font-family: 'Caveat', cursive;
    font-size: 25px;
    background-color: black;
    border-style: dotted dashed solid;
}
footer {
    background-image: url(https://usercontent2.hubstatic.com/7773903.jpg);
    padding: 100px;
    text-align: center;
    text-size-adjust: 50px;
    color: black;
}
